@import url("https://fonts.googleapis.com/css?family=Inter:400,700,800&display=swap");

:root {
	--clr--orange: hsl(35, 77%, 62%);
	--clr--red: hsl(5, 85%, 63%);
	--clr-surface: hsl(36, 100%, 99%);
	--clr-grey: hsl(236, 13%, 42%);
	--clr-dark: hsl(240, 100%, 5%);

	--fs-normal: 15px;
	--fs-large: 20px;
	--fs-large-plus: 30px;
	--fs-larger: 55px;
	--fw-normal: 400;
	--fw-bold: 700;
	--fw-bolder: 800;
}

*,
::before,
::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body,
header,
main {
	height: fit-content;
}

body {
	font-family: "Inter", sans-serif;
	font-size: var(--fs-normal);
	font-weight: var(--fw-normal);
	background-color: var(--clr-surface);
}

main,
header {
	display: flex;
	align-items: center;
	justify-content: center;
}

li {
	list-style: none;
}

a {
	color: var(--clr-dark);
	text-decoration: none;
}

.header {
	max-width: 1110px;
	width: 100%;
	padding: 20px 0;
	background-color: var(--clr-surface);
}

.navbar {
	min-height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar__menu {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 45px;
}
.navbar__link {
	transition: 0.3s ease-out;
}

.navbar__link:hover {
	color: var(--clr--red);
}

.navbar__hamburger {
	display: none;
	cursor: pointer;
	z-index: 2;
}

.navbar__bar {
	display: block;
	width: 40px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	background-color: var(--clr-dark);
}

.web-page {
	max-width: 1110px;
	display: flex;
	flex-direction: column;
}

.top-section {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 30px;
	margin-bottom: 70px;
}

.home {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas:
		"image image"
		"article-name description";
	column-gap: 50px;
	justify-items: stretch;
}

picture {
	width: 0;
}

.home__image {
	max-width: 730px;
	grid-area: image;
}

.home__article-name {
	grid-area: article-name;
	font-size: var(--fs-larger);
	font-weight: var(--fw-bolder);
	line-height: 60px;
}

.home__description {
	grid-area: description;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.home__description-text {
	color: var(--clr-grey);
	line-height: 25px;
}

.home__button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--clr--red);
	color: var(--clr-surface);
	font-weight: var(--fw-bold);
	letter-spacing: 5px;
	border: none;
	cursor: pointer;
	transition: 0.3s ease-out;
	padding: 20px 30px;
	margin-right: auto;
}

.home__button:hover {
	background-color: var(--clr-dark);
}

.new {
	display: flex;
	flex-direction: column;
	background-color: var(--clr-dark);
	color: var(--clr-surface);
	padding: 30px;
}

.new__article-heading {
	font-size: var(--fs-large-plus);
	color: var(--clr--orange);
	margin-bottom: 40px;
}

.new__article-name {
	margin-bottom: 15px;
}

.new__link {
	font-size: var(--fs-large);
	font-weight: var(--fw-bold);
	color: var(--clr-surface);
	cursor: pointer;
	transition: all 0.3s ease-out;
}

.new__link:hover {
	color: var(--clr--orange);
}

.new__article-description {
	line-height: 25px;
	margin-bottom: 35px;
	opacity: 0.7;
}

.new__article:last-child > .new__article-description {
	margin-bottom: 0;
}

.new__hr {
	border: 0.5px solid var(--clr-grey);
	margin-bottom: 30px;
}

.popular {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 25px;
}

.popular__article {
	display: grid;
	grid-template-columns: 100px 2fr;
	align-items: flex-end;
	gap: 15px;
}

.popular__article-image {
	max-width: 100%;
}

.popular__article-text {
	display: flex;
	flex-direction: column;
}

.popular__number {
	font-size: var(--fs-large-plus);
	color: var(--clr-grey);
	opacity: 0.4;
	margin-bottom: 10px;
}

.popular__article-name {
	margin-bottom: 10px;
}

.popular__link {
	font-size: var(--fs-normal);
	font-weight: var(--fw-bolder);
	cursor: pointer;
	transition: all 0.3s ease-out;
}

.popular__link:hover {
	color: var(--clr--red);
}

.popular__article-description {
	line-height: 25px;
}

@media screen and (max-width: 768px) {
	body {
		padding: 20px;
		height: fit-content;
	}

	header {
		height: 90px;
	}

	.header {
		width: 100%;
	}
	.navbar__hamburger {
		display: block;
	}

	.navbar__hamburger.active .navbar__bar:nth-child(2) {
		opacity: 0;
	}
	.navbar__hamburger.active .navbar__bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}
	.navbar__hamburger.active .navbar__bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
	.navbar__menu {
		position: fixed;
		right: -100%;
		top: 0px;
		gap: 0;
		flex-direction: column;
		background-color: var(--clr-surface);
		width: 70%;
		height: 100vh;
		text-align: center;
		transition: 0.3s;
		justify-content: flex-start;
		z-index: 1;
		padding-top: 170px;
	}
	.navbar__item {
		font-size: large;
		margin: 8px 20px;
	}
	.navbar__menu.active {
		right: 0;
	}

	.top-section,
	.popular,
	.home {
		display: flex;
		flex-direction: column;
	}

	picture {
		width: 100%;
	}

	.home__image {
		width: 728px;
		max-width: 100%;
		margin-bottom: 30px;
	}

	.home__article-name {
		margin-bottom: 25px;
	}

	.home__description-text {
		margin-bottom: 25px;
	}

	.home__button {
		margin-bottom: 60px;
	}
}
