@import url("https://fonts.googleapis.com/css?family=Inter:400,700,800&display=swap");

:root {
	--clr--orange: hsl(35, 77%, 62%);
	--clr--red: hsl(5, 85%, 63%);
	--clr-surface: hsl(36, 100%, 99%);
	--clr-grey: hsl(236, 13%, 42%);
	--clr-dark: hsl(240, 100%, 5%);

	--fs-normal: 15px;
	--fs-large: 20px;
	--fs-large-plus: 30px;
	--fs-larger: 55px;
	--fw-normal: 400;
	--fw-bold: 700;
	--fw-bolder: 800;
}

*,
::before,
::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body,
header,
main {
	height: 100%;
}

body {
	font-family: "Inter", sans-serif;
	font-size: var(--fs-normal);
	font-weight: var(--fw-normal);
	background-color: var(--clr-surface);
}

main {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.header {
	max-width: 1110px;
	max-height: 95px;
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
}

.header a {
	text-decoration: none;
}

.header ul {
	list-style-type: none;
}

.logo {
	display: inline-block;
	font-size: var(--fs-larger);
	color: var(--clr-dark);
}

.side-menu {
	display: none;
}

.nav {
	width: fit-content;
	height: 100%;
	max-height: none;
	transition: max-height 0.5s ease-out;
	position: relative;
	overflow: hidden;
	top: 0;
	float: right;
}

.nav__menu a {
	display: block;
	color: var(--clr-grey);
	padding: 30px;
}

.nav__menu li {
	float: left;
}

.nav__menu a:hover {
	background-color: transparent;
	color: var(--clr--red);
}

.web-page {
	max-width: 1110px;
	display: flex;
	flex-direction: column;
}

.top-section {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 40px;
	margin-bottom: 70px;
}

.home {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas:
		"image image"
		"article-name description";
	column-gap: 50px;
	row-gap: 30px;
	column-gap: ;
	justify-items: stretch;
}

.home__image {
	max-width: 730px;
	grid-area: image;
}

.home__article-name {
	grid-area: article-name;
	font-size: var(--fs-larger);
	font-weight: var(--fw-bolder);
	line-height: 60px;
}

.home__description {
	grid-area: description;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.home__description-text {
	color: var(--clr-grey);
	line-height: 25px;
}

.home__button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--clr--red);
	color: var(--clr-surface);
	font-weight: var(--fw-bold);
	letter-spacing: 5px;
	border: none;
	padding: 20px 40px;
	margin-right: auto;
}

.new {
	display: flex;
	flex-direction: column;
	background-color: var(--clr-dark);
	color: var(--clr-grey);
	padding: 30px;
}

.new__article-heading {
	font-size: var(--fs-larger);
	color: var(--clr--orange);
	margin-bottom: 40px;
}

.new__article {
}

.new__article-name {
	font-size: var(--fs-large);
	font-weight: var(--fw-bold);
	color: var(--clr-surface);
	margin-bottom: 15px;
}

.new__article-description {
	line-height: 25px;
	margin-bottom: 35px;
}

.new__article:last-child > .new__article-description {
	margin-bottom: 0;
}

.new__hr {
	border: 1px solid var(--clr-grey);
	margin-bottom: 30px;
}

.popular {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 25px;
}

.popular__article {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 15px;
}

.popular__article:first-child {
	margin-left: 0;
}

.popular__article-image {
	max-width: 100%;
	height: fit-content;
}

.popular__article-text {
	display: flex;
	flex-direction: column;
}

.popular__number {
	font-size: var(--fs-large-plus);
	color: var(--clr-grey);
	opacity: 0.4;
	margin-bottom: 10px;
}

.popular__article-name {
	font-size: var(--fs-large);
	font-weight: var(--fw-bold);
	margin-bottom: 10px;
}

.popular__article-description {
	line-height: 25px;
}

@media screen and (max-width: 900px) {
	.nav {
		max-height: 0;
		position: fixed;
		width: 100%;
	}

	.hamb {
		cursor: pointer;
		float: right;
		padding: 40px 20px;
	}

	.hamb-line {
		display: block;
		height: 2px;
		position: relative;
		width: 24px;
		background-color: var(--clr-dark);
	}

	.hamb-line::before,
	.hamb-line::after {
		content: "";
		display: block;
		height: 100%;
		position: absolute;
		transition: all 0.2s ease-out;
		width: 100%;
		background-color: var(--clr-dark);
	}

	.hamb-line::before {
		top: 5px;
	}

	.hamb-line::after {
		top: -5px;
	}

	.side-menu:checked ~ nav {
		max-height: 100%;
	}

	.side-menu:checked ~ .hamb .hamb-line {
		background: transparent;
	}

	.side-menu:checked ~ .hamb .hamb-line::before {
		transform: rotate(-45deg);
		top: 0;
	}
	.side-menu:checked ~ .hamb .hamb-line::after {
		transform: rotate(45deg);
		top: 0;
	}
}
